body {
  padding-top: 65px;
}

.artist {
  display: inline-block;
  list-style: none;
  margin: 10px;
  width: 240px;
  vertical-align: top;
}

.artist h3 {
  margin: 7px;
  text-align: center;
  color: #777;
}

.artist img {
  width: 100%;
  border: none;
}

.artist .badges {
  margin: 5px 0;
}

.artist .badges > * {
  margin: 5px;
}

.artist p {
  margin: 10px 0;
  text-indent: 15px;
}
